<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap">
    <style>
        body {
            margin: 5%;
            font-family: 'Quicksand', sans-serif;
        }

        .active {
            background: turquoise;
            border: 0;
            padding: 5px;
        }
    </style>
</head>

<body>
    <div id="app">

        <header-component nama="JavaScript" gambar="image/coca-cola.png"></header-component>
        <nav>
            <router-link to="/">Home</router-link>
            <router-link to="/about">About</router-link>
            <router-link to="/kelas">Kelas</router-link>

        </nav>
        <main>
            <!-- <kelas v-bind:items="kelas" v-on:submitkelas="submitkelas" v-on:hapuskelas="hapuskelas"></kelas> -->
            <!-- <home></home> -->
            <!-- router view akan mencocokan komponen apa yang akan ditampilkan sesuai jalur rute url -->
            
            <router-view v-bind:items="kelas" v-on:submitkelas="submitkelas" v-on:hapuskelas="hapuskelas"></router-view> 
        </main>

        <footer-component>
            <p>Copyright 2023 - Ananda Apriliani</p>
        </footer-component>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/vue-router@3/dist/vue-router.js"></script>    <script>
        const Home = {
            template: '<div>Home</div>'
        }
        const About = {
            template: '<div>About</div>'
        }
        const kelas = {
            props: ['items'],
            template: `
                <div>
                    <h3>Tambah Kelas</h3>
                    <p>
                        <input type="text" placeholder="Nama Kelas" v-on:keyup.enter="$emit('submitkelas', $event)">
                    </p>

                    <hr>
                    <h3>Daftar Kelas({{items.length}})</h3>
                    <template v-if="items.length">
                        <ul>
                            <li v-for="(k, index) of items">{{index+1}} - {{k.judul}}
                                <a href="" v-on:click.prevent="$emit('hapuskelas',k.id)">Hapus</a>
                            </li>
                        </ul>
                    </template>
                    <li v-else>Kelas kosong</li>
                </div>
            `,
            data: function () {
                return {

                }
            }
        }
        const routes = [
            { path: '/', component: Home }, //root halaman
            { path: '/about', component: About },
            { path: '/kelas', component: kelas }
        ]
        const router = new VueRouter({
            mode : `history`, //menghilangkan # di url 
            routes // short for `routes: routes`
        })
        // component didaftarkan / ditaruh sebelum instan objek dari vuenya
        Vue.component('header-component', {
            props: ['nama', 'gambar'],
            template: `
                <header>
                    <img :src="gambar" width="300" alt="">
                    <p>{{'Hello, ' +nama }}</p>
                </header>
            `,
            data: function () {
                return {
                    pesan: 'Hello, Component!'
                }
            }
        })

        Vue.component('footer-component', {
            template: `
                <footer id="footer">
                    <slot></slot>
                </footer>
            `
        })
        Vue.component('kelas', {

        })


        //inisiasi objek vue
        const vm = new Vue({
            el: '#app',
            router,
            components: {
                'home': Home
            },
            data: {
                // Array in object
                kelas: [
                    {id :1, judul : 'Coca-Cola', deskripsi : 'Minuman Bersoda', gambar : 'coca-cola.png' }, 
                    {id :'2', judul : 'KFC', deskripsi : 'Jagonya Ayam', gambar : 'kfc.png' },
                    {id :'3', judul : 'Snickers', deskripsi : 'Coklatt', gambar : 'snickers.png' }],
                newKelas: ""
            },
            methods: {
                hapuskelas: function (id) {
                    // console.log(id)
                    // this.kelas.splice(id, 1)
                    // metode filter 
                    this.kelas = this.kelas.filter(k => k.id != id)
                },
                submitkelas: function (event) {
                    const text = event.target.value
                    // console.log(event)
                    this.kelas.unshift(text)
                }


            },
            // Computed property / definisi variabel dalam vue js
            computed: {

            }

        })

    </script>
</body>

</html>